body {
	background: #fff; 
	color: #666666; 
}
.green{
	background-color:green;
}
.row{
	margin-top:40px;
}
.navbar{
	.logo{
		width:70px;
	}
}
.imageView{
	img{
		width:100px;
	}
  span{
	font-size:50px;

  }
}
.edit-name{
  display:none;
  input{
	border:0;
	outline: hidden;
	width:400px;
  }
}

#new-member-popup{
	.city, .postNo{
	  width:50%;
	}
}
