<template name="memberPage">
	<h1><span class="boat-name">{{firstName}} {{lastName}}</span><span class="edit-name">{{> editBoatName}}</span> <small>{{#if owner.firstName}}Eget af {{owner.firstName}}{{/if}}</small></h1>
	{{> imageForm}}

	{{> imageView}}
</template>

<template name="imageForm">
	<input type="File" class="picture" name="file"/>
</template>

<template name="imageView">
  <div class="imageView">

    <div class="row">
      <div class="col-md-6">
        {{#if profilePics}}
        {{#each profilePics}}
        <a href="{{this.url}}" target="_blank">
        	<img src="{{this.url}}" alt="" class="img-circle"/>
        </a>
          {{else}}
          <span class="glyphicon glyphicon-user"></span>
      {{/each}}
      {{/if}}
      </div>
    </div>

  </div>
</template>

<template name="editBoatName">
    {{#autoForm id="editBoatName" type="update" collection="Boats" doc=this}}
      {{> afFieldInput name="boatName" label="false"}}
    {{/autoForm}}
</template>