<template name="newBoat">
    
    <div id="new-member-popup" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Luk</span></button>
            <h4 class="modal-title">Opret nyt medlem</h4>
          </div>
          <div class="modal-body">

              {{#autoForm id="insertBoatForm" collection="Boats" type="insert"}}
                  {{> afQuickField name='boatName'}}
              {{/autoForm}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
            <button type="button" class="btn btn-primary saveBtn">Opret medlem</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</template>